### Clean ###
# Binaries
#*.exe ##Test binaries should be kept as .out. 
*.out

# Project files
*.prj
*.prp

# Directory used to store object files, abc files and assembly files
Clean System Files/

# Test files
#test.wav
*.wav
#We can eliminate all .wav renders for space saving.
